
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";

body {
  padding-top: 70px;
}

div#task-form {
  display: none;
}

.task a:hover {
  text-decoration: line-through;
}
