
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";

$primary_blue : #00B4FF;
$darker_blue : #00A3E7;

body {
  padding-top: 80px;
}

div#task-form {
  display: none;
}

.task a[data-method="delete"]:hover {
  text-decoration: line-through;
}
h1 {
  color: $primary_blue;
}

.well {
  background-color: white;
  .pull-right {
    font-style: italic;
  }
}



